:root {
  --Background: hsl(0, 0%, 95%);
  --Color: hsl(200, 15%, 8%);
  --Hover-Color: #747bff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-synthesis: none;
  font-size: 1.6rem;
  line-height: 1.5;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  color: var(--Color);
  background-color: var(--Background);
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Background);
}

.header {
  padding: 2rem 3rem;
  background-color: var(--Color);
}

.header-logo {
  font-size: 2.5rem;
}

.btn {
  appearance: none;
  outline: none;
  border: none;
}

.btn-menu {
  font-size: 2rem;
  color: var(--Background);
  background-color: inherit;
}

.btn-cancel {
  font-size: 2rem;
  align-self: flex-end;
}

.nav-menu {
  font-size: 1.8rem;
  list-style: none;
  padding: 4rem;
  height: 45vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 3;
  color: var(--Color);
  background-color: var(--Background);
  position: absolute;
  box-shadow: 0.2px 0.1px 3px 0.2px var(--Color);
  transition: all 0.3s ease-in;
  overflow-x: hidden;
}

.show-menu {
  top: 0;
  right: 0%;
}

.hide-menu {
  top: 0;
  right: -60%;
}

/*  MAIN SECTION FOR CLIENT AND SERVER*/
.main {
  margin: auto;
  width: 90vw;
  height: calc(100vh - 8rem - 8rem);
  max-height: 73vh;
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  color: #ffffff;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}

.msg {
  padding: 1rem 2rem;
  width: fit-content;
  max-width: 70vw;
  border-radius: 1rem;
  word-wrap: break-word;
}

.client-message {
  align-self: flex-end;
  background-color: #8a8a8a;
  transition: all 1s ease-in-out;
}

.server-message {
  background-color: #246a73;
}

.footer {
  position: absolute;
  width: 100vw;
  height: 8rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Color);
}

.chatbox {
  width: 95vw;
  height: 5rem;
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--Background);
}

.chatbox-input,
.chatbox-input::placeholder {
  color: var(--Background);
}

.chatbox-input {
  appearance: none;
  outline: none;
  border: none;
  width: 80%;
  padding: 1rem 2rem;
  background-color: inherit;
}

.chatbox-input::placeholder {
  font-family: inherit;
  font-size: inherit;
  opacity: 0.3;
}

.btn-send {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--Color);
}

.input-board {
  width: 80vw;
  height: auto;
  color: var(--Color);
  padding: 2rem;
  background-color: var(--Background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

.form {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--Color);
}

.form-input {
  appearance: none;
  outline: none;
  border: none;
  width: 80%;
  padding: 1rem;
}

.btn-send-overlay {
  width: 22%;
  color: var(--Background);
  background-color: var(--Color);
}

.overlay {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  filter: blur(0.2rem);
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

@media (min-width: 37.5em) {
  .main {
    max-height: 80vh;
  }

  .chatbox-input {
    width: 90%;
  }

  .btn-send {
    width: 10%;
  }

  .btn-send-overlay {
    width: 20%;
  }
}
